@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap");
* {
  padding: 0;
  margin: 0; }

.botonera {
  background-color: #FDD17C;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .botonera img {
    width: 50%; }
  .botonera ul {
    display: flex; }
    .botonera ul li {
      list-style: none;
      margin: 20px; }
      .botonera ul li a {
        color: black;
        font-family: "Nunito", sans-serif;
        font-size: 2em;
        text-decoration: none; }
        .botonera ul li a:hover {
          color: #FFA912; }

#dashboard {
  background-color: white;
  overflow-x: hidden; }
  #dashboard img {
    width: 100%; }
  #dashboard section h1 {
    font-family: "Nunito", sans-serif;
    font-size: 4em;
    color: black;
    padding: auto;
    text-align: center; }
  #dashboard section div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; }
    #dashboard section div img {
      width: 30vw; }
    #dashboard section div p {
      font-family: "Nunito", sans-serif;
      font-size: 2em;
      text-align: center; }

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 3em;
  color: #FFA912;
  padding: auto;
  text-align: center; }

p {
  color: black;
  font-size: 1em;
  line-height: 1.4em;
  padding: 20px; }
  p a {
    color: grey;
    font-size: 1.1em;
    font-family: "Nunito", sans-serif; }

footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1px 30px; }
  footer div h4 {
    color: white;
    font-family: "Nunito", cursive;
    font-size: 2em; }
  footer div img {
    width: 70px;
    text-align: center; }
  footer section h4 {
    color: white;
    font-family: "Nunito", cursive;
    font-size: 2em; }
  footer section ul {
    color: white;
    font-family: "Nunito", cursive;
    font-size: 1em;
    text-align: center;
    list-style: none; }
